@import 'Colors.css';

.product-list {
	padding: 20px;
	background-color: var(--accent-color);
}

.actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	flex-wrap: wrap;
}

.actions input {
	padding: 10px;
	border: 1px solid var(--border-color);
	border-radius: 5px;
	width: 100%;
	max-width: 200px;
	margin-bottom: 10px;
}

.actions button {
	background-color: var(--primary-color);
	color: var(--text-color);
	border: none;
	padding: 15px 20px;
	border-radius: 3px;
	cursor: pointer;
	font-weight: bolder;
}

.actions button:hover {
	background-color: var(--primary-color);
}

.table-wrapper {
	background-color: var(--white-color);
	padding: 20px;
	box-shadow: 0 0 5px var(--accent-color);
	margin-bottom: 20px;
	position: relative;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.table-container {
	overflow-x: auto;
	flex-grow: 1;
}

table {
	width: 100%;
	border-collapse: collapse;
	min-width: 800px;
}
tbody td {
	padding: 0px 15px;
}

thead {
	background-color: var(--table-head-color);
}
thead th {
	padding: 10px 15px;
}

th,
td {
	padding: 10px 15px;
	text-align: left;
	border-bottom: 2px solid var(--table-line-color);
	border-right: none;
	border-left: none;
}

th.logo-column,
td.logo-column {
	width: 10%;
	text-align: center;
	vertical-align: middle;
}
th.name-column,
td.name-column {
	width: 20%;
	text-align: left;
}
th.description-column,
td.description-column {
	width: 20%;
	white-space: nowrap;
	position: relative;
	text-align: left;
}
th.release-date-column,
td.release-date-column {
	width: 15%;
	white-space: nowrap;
	position: relative;
	text-align: left;
}
th.restructure-date-column,
td.restructure-date-column {
	width: 15%;
	white-space: nowrap;
	position: relative;
	text-align: left;
}
th.actions-column,
td.actions-column {
	width: 10%;
	text-align: right;
}

.image-container {
	position: relative;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--image-background-color);
	margin: 0 auto;
}

.image-placeholder {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: var(--image-background-color);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--table-head-color);
	font-size: 20px;
	font-weight: bold;
}

.product-logo {
	max-width: 100%;
	max-height: 100%;
	border-radius: 50%;
}
.dropdown {
	position: relative;
	display: inline-block;
	margin: 20px;
}

.dropbtn {
	background-color: transparent;
	border: none;
	font-size: 24px;
	cursor: pointer;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: var(--table-head-color);
	min-width: 160px;
	box-shadow: 0px 3px 16px 0px var(--image-background-color);
	z-index: 1000;
}

.dropdown-content button {
	color: var(--black-color);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	background: none;
	border: none;
	width: 100%;
	text-align: left;
}

.dropdown-content button:hover {
	background-color: var(--table-line-color);
}

.show {
	display: block;
}

tr {
	border-left: none;
	border-left: none;
	height: 10px;
}

tbody tr:last-child td {
	border-bottom: none;
}

.info-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-left: 5px;
	border-radius: 50%;
	background-color: var(--icon-background-color);
	color: var(--white-color);
	text-align: center;
	line-height: 16px;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial, sans-serif;
	position: relative;
}
.info-icon::after {
	content: attr(data-tooltip);
	position: absolute;
	bottom: 125%;
	left: 50%;
	transform: translateX(-50%);
	transform: translateY(100%);
	background-color: var(--text-input-color);
	color: var(--white-color);
	padding: 5px 10px;
	border-radius: 5px;
	white-space: nowrap;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s;
	z-index: 9999;
	box-shadow: 0px 4px 8px var(--icon-background-color);
}

.info-icon:hover::after {
	opacity: 1;
	visibility: visible;
}

.product-logo {
	max-width: 50px;
	border-radius: 50%;
}

.product-item {
	background-color: var(--white-color);
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 0 10px var(--shadow-color);
}

.actions select {
	padding: 10px;
	border: 1px solid var(--image-background-color);
	border-radius: 5px;
	background-color: var(--white-color);
}

.result {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	padding: 10 15px;
}
select {
	padding: 5px 10px;
	border: 1px solid var(--image-background-color);
	border-radius: 5px;
	background-color: var(--white-color);
	color: var(--text-input-color);
}
option {
	color: var(--text-input-color);
}

/* Responsive Styles */
@media (max-width: 1200px) {
	.table-container {
		overflow-x: auto;
	}
	.table-wrapper {
		padding: 15px;
	}
}

@media (max-width: 768px) {
	.actions {
		flex-direction: column;
		align-items: flex-start;
	}
	.actions input {
		width: 100%;
		margin-bottom: 10px;
	}
	.actions button {
		width: 100%;
	}

	th,
	td {
		font-size: 14px;
		padding: 8px;
	}
}

@media (max-width: 576px) {
	.product-list {
		padding: 20px;
	}
	.table-wrapper {
		padding: 10px;
	}
	.actions {
		flex-direction: column;
		align-items: flex-start;
	}
	.actions input,
	.actions button {
		width: 100%;
		margin-bottom: 10px;
	}

	th,
	td {
		font-size: 12px;
		padding: 6px;
	}
}
