body {
	font-family: 'Open Sans', sans-serif;
	background-color: #edeff4;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
}

button {
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin: 5px;
}

button:hover {
	opacity: 0.9;
}
.main-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}
